<robot name="g1_29dof_rev_1_0_with_linkinO6_pure">
  <material name="dark">
    <color rgba="0.2 0.2 0.2 1" />
  </material>
  <material name="white">
    <color rgba="0.7 0.7 0.7 1" />
  </material>
  <link name="pelvis">
    <inertial>
      <origin xyz="0 0 -0.07605" rpy="0 0 0" />
      <mass value="3.813" />
      <inertia ixx="0.010549" ixy="0" ixz="2.1E-06" iyy="0.0093089" iyz="0" izz="0.0079184" />
    </inertial>
  </link>
  <link name="pelvis_contour_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7" />
    </inertial>
  </link>
  <joint name="pelvis_contour_joint" type="fixed">
    <parent link="pelvis" />
    <child link="pelvis_contour_link" />
  </joint>
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="0.002741 0.047791 -0.02606" rpy="0 0 0" />
      <mass value="1.35" />
      <inertia ixx="0.001811" ixy="3.68E-05" ixz="-3.44E-05" iyy="0.0014193" iyz="0.000171" izz="0.0012812" />
    </inertial>
  </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.064452 -0.1027" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="left_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.5307" upper="2.8798" effort="88" velocity="32" />
  </joint>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="0.029812 -0.001045 -0.087934" rpy="0 0 0" />
      <mass value="1.52" />
      <inertia ixx="0.0023773" ixy="-3.8E-06" ixz="-0.0003908" iyy="0.0024123" iyz="1.84E-05" izz="0.0016595" />
    </inertial>
  </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="0 0.052 -0.030465" rpy="0 -0.1749 0" />
    <parent link="left_hip_pitch_link" />
    <child link="left_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5236" upper="2.9671" effort="139" velocity="20" />
  </joint>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="-0.057709 -0.010981 -0.15078" rpy="0 0 0" />
      <mass value="1.702" />
      <inertia ixx="0.0057774" ixy="-0.0005411" ixz="-0.0023948" iyy="0.0076124" iyz="-0.0007072" izz="0.003149" />
    </inertial>
  </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="0.025001 0 -0.12412" rpy="0 0 0" />
    <parent link="left_hip_roll_link" />
    <child link="left_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.7576" upper="2.7576" effort="88" velocity="32" />
  </joint>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="0.005457 0.003964 -0.12074" rpy="0 0 0" />
      <mass value="1.932" />
      <inertia ixx="0.011329" ixy="4.82E-05" ixz="-4.49E-05" iyy="0.011277" iyz="-0.0007146" izz="0.0015168" />
    </inertial>
  </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="-0.078273 0.0021489 -0.17734" rpy="0 0.1749 0" />
    <parent link="left_hip_yaw_link" />
    <child link="left_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.087267" upper="2.8798" effort="139" velocity="20" />
  </joint>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.007269 0 0.011137" rpy="0 0 0" />
      <mass value="0.074" />
      <inertia ixx="8.4E-06" ixy="0" ixz="-2.9E-06" iyy="1.89E-05" iyz="0" izz="1.26E-05" />
    </inertial>
  </link>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="0 -9.4445E-05 -0.30001" rpy="0 0 0" />
    <parent link="left_knee_link" />
    <child link="left_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.87267" upper="0.5236" effort="35" velocity="30" />
  </joint>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.026505 0 -0.016425" rpy="0 0 0" />
      <mass value="0.608" />
      <inertia ixx="0.0002231" ixy="2E-07" ixz="8.91E-05" iyy="0.0016161" iyz="-1E-07" izz="0.0016667" />
    </inertial>
  </link>
  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 -0.017558" rpy="0 0 0" />
    <parent link="left_ankle_pitch_link" />
    <child link="left_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.2618" upper="0.2618" effort="35" velocity="30" />
  </joint>
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="0.002741 -0.047791 -0.02606" rpy="0 0 0" />
      <mass value="1.35" />
      <inertia ixx="0.001811" ixy="-3.68E-05" ixz="-3.44E-05" iyy="0.0014193" iyz="-0.000171" izz="0.0012812" />
    </inertial>
  </link>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.064452 -0.1027" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="right_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.5307" upper="2.8798" effort="88" velocity="32" />
  </joint>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="0.029812 0.001045 -0.087934" rpy="0 0 0" />
      <mass value="1.52" />
      <inertia ixx="0.0023773" ixy="3.8E-06" ixz="-0.0003908" iyy="0.0024123" iyz="-1.84E-05" izz="0.0016595" />
    </inertial>
  </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="0 -0.052 -0.030465" rpy="0 -0.1749 0" />
    <parent link="right_hip_pitch_link" />
    <child link="right_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.9671" upper="0.5236" effort="139" velocity="20" />
  </joint>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="-0.057709 0.010981 -0.15078" rpy="0 0 0" />
      <mass value="1.702" />
      <inertia ixx="0.0057774" ixy="0.0005411" ixz="-0.0023948" iyy="0.0076124" iyz="0.0007072" izz="0.003149" />
    </inertial>
  </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="0.025001 0 -0.12412" rpy="0 0 0" />
    <parent link="right_hip_roll_link" />
    <child link="right_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.7576" upper="2.7576" effort="88" velocity="32" />
  </joint>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="0.005457 -0.003964 -0.12074" rpy="0 0 0" />
      <mass value="1.932" />
      <inertia ixx="0.011329" ixy="-4.82E-05" ixz="4.49E-05" iyy="0.011277" iyz="0.0007146" izz="0.0015168" />
    </inertial>
  </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="-0.078273 -0.0021489 -0.17734" rpy="0 0.1749 0" />
    <parent link="right_hip_yaw_link" />
    <child link="right_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.087267" upper="2.8798" effort="139" velocity="20" />
  </joint>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="-0.007269 0 0.011137" rpy="0 0 0" />
      <mass value="0.074" />
      <inertia ixx="8.4E-06" ixy="0" ixz="-2.9E-06" iyy="1.89E-05" iyz="0" izz="1.26E-05" />
    </inertial>
  </link>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="0 9.4445E-05 -0.30001" rpy="0 0 0" />
    <parent link="right_knee_link" />
    <child link="right_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.87267" upper="0.5236" effort="35" velocity="30" />
  </joint>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.026505 0 -0.016425" rpy="0 0 0" />
      <mass value="0.608" />
      <inertia ixx="0.0002231" ixy="-2E-07" ixz="8.91E-05" iyy="0.0016161" iyz="1E-07" izz="0.0016667" />
    </inertial>
  </link>
  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 -0.017558" rpy="0 0 0" />
    <parent link="right_ankle_pitch_link" />
    <child link="right_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.2618" upper="0.2618" effort="35" velocity="30" />
  </joint>
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="0.003494 0.000233 0.018034" rpy="0 0 0" />
      <mass value="0.214" />
      <inertia ixx="0.00010673" ixy="2.703E-06" ixz="-7.631E-06" iyy="0.00010422" iyz="-2.01E-07" izz="0.0001625" />
    </inertial>
  </link>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="waist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="88" velocity="32" />
  </joint>
  <link name="waist_roll_link">
    <inertial>
      <origin xyz="0 2.3E-05 0" rpy="0 0 0" />
      <mass value="0.086" />
      <inertia ixx="7.079E-06" ixy="0" ixz="0" iyy="6.339E-06" iyz="0" izz="8.245E-06" />
    </inertial>
  </link>
  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="-0.0039635 0 0.044" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="waist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.52" upper="0.52" effort="35" velocity="30" />
  </joint>
  <link name="torso_link">
    <inertial>
      <origin xyz="0.000931 0.000346 0.15082" rpy="0 0 0" />
      <mass value="6.78" />
      <inertia ixx="0.05905" ixy="3.3302E-05" ixz="-0.0017715" iyy="0.047014" iyz="-2.2399E-05" izz="0.025652" />
    </inertial>
  </link>
  <joint name="waist_pitch_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="waist_roll_link" />
    <child link="torso_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.52" upper="0.52" effort="35" velocity="30" />
  </joint>
  <joint name="logo_joint" type="fixed">
    <origin xyz="0.0039635 0 -0.044" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="logo_link" />
  </joint>
  <link name="logo_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7" />
    </inertial>
  </link>
  <link name="head_link">
    <inertial>
      <origin xyz="0.005267 0.000299 0.449869" rpy="0 0 0" />
      <mass value="1.036" />
      <inertia ixx="0.004085051" ixy="-2.543E-06" ixz="-6.9455E-05" iyy="0.004185212" iyz="-3.726E-06" izz="0.001807911" />
    </inertial>
  </link>
  <joint name="head_joint" type="fixed">
    <origin xyz="0.0039635 0 -0.044" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="head_link" />
  </joint>
  <link name="imu_in_torso" />
  <joint name="imu_in_torso_joint" type="fixed">
    <origin xyz="-0.03959 -0.00224 0.14792" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="imu_in_torso" />
  </joint>
  <link name="imu_in_pelvis" />
  <joint name="imu_in_pelvis_joint" type="fixed">
    <origin xyz="0.04525 0 -0.08339" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="imu_in_pelvis" />
  </joint>
  <link name="d435_link" />
  <joint name="d435_joint" type="fixed">
    <origin xyz="0.0576235 0.01753 0.42987" rpy="0 0.8307767239493009 0" />
    <parent link="torso_link" />
    <child link="d435_link" />
  </joint>
  <link name="mid360_link" />
  <joint name="mid360_joint" type="fixed">
    <origin xyz="0.0002835 0.00003 0.41618" rpy="0 0.04014257279586953 0" />
    <parent link="torso_link" />
    <child link="mid360_link" />
  </joint>
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="0 0.035892 -0.011628" rpy="0 0 0" />
      <mass value="0.718" />
      <inertia ixx="0.0004291" ixy="-9.2E-06" ixz="6.4E-06" iyy="0.000453" iyz="2.26E-05" izz="0.000423" />
    </inertial>
  </link>
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.0039563 0.10022 0.24778" rpy="0.27931 5.4949E-05 -0.00019159" />
    <parent link="torso_link" />
    <child link="left_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.0892" upper="2.6704" effort="25" velocity="37" />
  </joint>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.000227 0.00727 -0.063243" rpy="0 0 0" />
      <mass value="0.643" />
      <inertia ixx="0.0006177" ixy="-1E-06" ixz="8.7E-06" iyy="0.0006912" iyz="-5.3E-06" izz="0.0003894" />
    </inertial>
  </link>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="0 0.038 -0.013831" rpy="-0.27925 0 0" />
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-1.5882" upper="2.2515" effort="25" velocity="37" />
  </joint>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.010773 -0.002949 -0.072009" rpy="0 0 0" />
      <mass value="0.734" />
      <inertia ixx="0.0009988" ixy="7.9E-06" ixz="0.0001412" iyy="0.0010605" iyz="-2.86E-05" izz="0.0004354" />
    </inertial>
  </link>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="0 0.00624 -0.1032" rpy="0 0 0" />
    <parent link="left_shoulder_roll_link" />
    <child link="left_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="25" velocity="37" />
  </joint>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="0.064956 0.004454 -0.010062" rpy="0 0 0" />
      <mass value="0.6" />
      <inertia ixx="0.0002891" ixy="6.53E-05" ixz="1.72E-05" iyy="0.0004152" iyz="-5.6E-06" izz="0.0004197" />
    </inertial>
  </link>
  <joint name="left_elbow_joint" type="revolute">
    <origin xyz="0.015783 0 -0.080518" rpy="0 0 0" />
    <parent link="left_shoulder_yaw_link" />
    <child link="left_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.0472" upper="2.0944" effort="25" velocity="37" />
  </joint>
  <joint name="left_wrist_roll_joint" type="revolute">
    <origin xyz="0.100 0.00188791 -0.010" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <parent link="left_elbow_link" />
    <child link="left_wrist_roll_link" />
    <limit effort="25" velocity="37" lower="-1.972222054" upper="1.972222054" />
  </joint>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.01713944778 0.00053759094 0.00000048864" rpy="0 0 0" />
      <mass value="0.08544498" />
      <inertia ixx="0.00004821544023" ixy="-0.00000424511021" ixz="0.00000000510599" iyy="0.00003722899093" iyz="-0.00000000123525" izz="0.00005482106541" />
    </inertial>
  </link>
  <joint name="left_wrist_pitch_joint" type="revolute">
    <origin xyz="0.038 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <parent link="left_wrist_roll_link" />
    <child link="left_wrist_pitch_link" />
    <limit effort="5" velocity="22" lower="-1.614429558" upper="1.614429558" />
  </joint>
  <link name="left_wrist_pitch_link">
    <inertial>
      <origin xyz="0.02299989837 -0.00111685314 -0.00111658096" rpy="0 0 0" />
      <mass value="0.48404956" />
      <inertia ixx="0.00016579646273" ixy="-0.00001231206746" ixz="0.00001231699194" iyy="0.00042954057410" iyz="0.00000081417712" izz="0.00042953697654" />
    </inertial>
  </link>
  <joint name="left_wrist_yaw_joint" type="revolute">
    <origin xyz="0.046 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <parent link="left_wrist_pitch_link" />
    <child link="left_wrist_yaw_link" />
    <limit effort="5" velocity="22" lower="-1.614429558" upper="1.614429558" />
  </joint>
  <link name="left_wrist_yaw_link">
    <inertial>
      <origin xyz="0.02200381568 0.00049485096 0.00053861123" rpy="0 0 0" />
      <mass value="0.08457647" />
      <inertia ixx="0.00004929128828" ixy="-0.00000045735494" ixz="0.00000445867591" iyy="0.00005973338134" iyz="0.00000043217198" izz="0.00003928083826" />
    </inertial>
  </link>
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="0 -0.035892 -0.011628" rpy="0 0 0" />
      <mass value="0.718" />
      <inertia ixx="0.0004291" ixy="9.2E-06" ixz="6.4E-06" iyy="0.000453" iyz="-2.26E-05" izz="0.000423" />
    </inertial>
  </link>
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.0039563 -0.10021 0.24778" rpy="-0.27931 5.4949E-05 0.00019159" />
    <parent link="torso_link" />
    <child link="right_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.0892" upper="2.6704" effort="25" velocity="37" />
  </joint>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.000227 -0.00727 -0.063243" rpy="0 0 0" />
      <mass value="0.643" />
      <inertia ixx="0.0006177" ixy="1E-06" ixz="8.7E-06" iyy="0.0006912" iyz="5.3E-06" izz="0.0003894" />
    </inertial>
  </link>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="0 -0.038 -0.013831" rpy="0.27925 0 0" />
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.2515" upper="1.5882" effort="25" velocity="37" />
  </joint>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.010773 0.002949 -0.072009" rpy="0 0 0" />
      <mass value="0.734" />
      <inertia ixx="0.0009988" ixy="-7.9E-06" ixz="0.0001412" iyy="0.0010605" iyz="2.86E-05" izz="0.0004354" />
    </inertial>
  </link>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="0 -0.00624 -0.1032" rpy="0 0 0" />
    <parent link="right_shoulder_roll_link" />
    <child link="right_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="25" velocity="37" />
  </joint>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="0.064956 -0.004454 -0.010062" rpy="0 0 0" />
      <mass value="0.6" />
      <inertia ixx="0.0002891" ixy="-6.53E-05" ixz="1.72E-05" iyy="0.0004152" iyz="5.6E-06" izz="0.0004197" />
    </inertial>
  </link>
  <joint name="right_elbow_joint" type="revolute">
    <origin xyz="0.015783 0 -0.080518" rpy="0 0 0" />
    <parent link="right_shoulder_yaw_link" />
    <child link="right_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.0472" upper="2.0944" effort="25" velocity="37" />
  </joint>
  <joint name="right_wrist_roll_joint" type="revolute">
    <origin xyz="0.100 -0.00188791 -0.010" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <parent link="right_elbow_link" />
    <child link="right_wrist_roll_link" />
    <limit effort="25" velocity="37" lower="-1.972222054" upper="1.972222054" />
  </joint>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.01713944778 -0.00053759094 0.00000048864" rpy="0 0 0" />
      <mass value="0.08544498" />
      <inertia ixx="0.00004821544023" ixy="0.00000424511021" ixz="0.00000000510599" iyy="0.00003722899093" iyz="0.00000000123525" izz="0.00005482106541" />
    </inertial>
  </link>
  <joint name="right_wrist_pitch_joint" type="revolute">
    <origin xyz="0.038 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <parent link="right_wrist_roll_link" />
    <child link="right_wrist_pitch_link" />
    <limit effort="5" velocity="22" lower="-1.614429558" upper="1.614429558" />
  </joint>
  <link name="right_wrist_pitch_link">
    <inertial>
      <origin xyz="0.02299989837 0.00111685314 -0.00111658096" rpy="0 0 0" />
      <mass value="0.48404956" />
      <inertia ixx="0.00016579646273" ixy="0.00001231206746" ixz="0.00001231699194" iyy="0.00042954057410" iyz="-0.00000081417712" izz="0.00042953697654" />
    </inertial>
  </link>
  <joint name="right_wrist_yaw_joint" type="revolute">
    <origin xyz="0.046 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <parent link="right_wrist_pitch_link" />
    <child link="right_wrist_yaw_link" />
    <limit effort="5" velocity="22" lower="-1.614429558" upper="1.614429558" />
  </joint>
  <link name="right_wrist_yaw_link">
    <inertial>
      <origin xyz="0.02200381568 -0.00049485096 0.00053861123" rpy="0 0 0" />
      <mass value="0.08457647" />
      <inertia ixx="0.00004929128828" ixy="0.00000045735494" ixz="0.00000445867591" iyy="0.00005973338134" iyz="-0.00000043217198" izz="0.00003928083826" />
    </inertial>
  </link>
  <joint name="left_base_joint" type="fixed">
    <origin xyz="0.0415 0 0" rpy="-1.5707963269 0.0000000000 -1.5707963267" />
    <parent link="left_wrist_yaw_link" />
    <child link="left_base" />
  </joint>
  <link name="left_base" />
  <joint name="right_base_joint" type="fixed">
    <origin xyz="0.0415 0 0" rpy="1.5707963268 0.0000000000 1.5707963267" />
    <parent link="right_wrist_yaw_link" />
    <child link="right_base" />
  </joint>
  <link name="right_base" />
  <joint name="left_hand_base_joint" type="fixed">
    <parent link="left_base" />
    <child link="left_hand_base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="left_hand_base_link">
    <inertial>
      <origin xyz="-0.00157788568070457 -0.00034876725935859 0.0538452219801211" rpy="0 0 0" />
      <mass value="0.0672935238166485" />
      <inertia ixx="5.22525212160954E-05" ixy="3.06955729584715E-07" ixz="-3.90341166950521E-07" iyy="3.33522349207724E-05" iyz="-7.76680063574627E-07" izz="2.28469461105385E-05" />
    </inertial>
  </link>
  <link name="left_thumb_metacarpals_base2">
    <inertial>
      <origin xyz="0.00162800681276937 -0.0027668017246415 -0.00184234438641236" rpy="0 0 0" />
      <mass value="0.00138588296544333" />
      <inertia ixx="5.26292160685909E-08" ixy="-3.92888681640568E-09" ixz="-2.43767371295222E-09" iyy="4.82620491570326E-08" iyz="3.71869784206147E-09" izz="2.88550286112821E-08" />
    </inertial>
  </link>
  <link name="left_thumb_metacarpals">
    <inertial>
      <origin xyz="4.24816204999817E-05 1.74183907812875E-05 0.0228341640631254" rpy="0 0 0" />
      <mass value="0.0123381586619931" />
      <inertia ixx="1.10292537368909E-06" ixy="-5.99642232777877E-10" ixz="-1.14233573940545E-07" iyy="1.76757772551884E-06" iyz="-4.03963570823777E-10" izz="9.36347792411098E-07" />
    </inertial>
  </link>
  <link name="left_thumb_distal">
    <inertial>
      <origin xyz="-0.00413725702921841 -5.90704520436747E-08 0.023011401589736" rpy="0 0 0" />
      <mass value="0.00763332957284057" />
      <inertia ixx="1.3057487813702E-06" ixy="-1.19781508112714E-11" ixz="-7.19551697268541E-08" iyy="1.2248908905341E-06" iyz="4.55347974652679E-12" izz="2.77271910592615E-07" />
    </inertial>
  </link>
  <link name="left_index_proximal">
    <inertial>
      <origin xyz="-0.00208656556336452 2.53838713251686E-06 0.0172734941980264" rpy="0 0 0" />
      <mass value="0.00253174651934627" />
      <inertia ixx="2.65988714157799E-07" ixy="-1.67174578825824E-11" ixz="-4.31047725546034E-08" iyy="2.72914069166233E-07" iyz="1.8756709532167E-10" izz="8.56017305636748E-08" />
    </inertial>
  </link>
  <link name="left_index_distal">
    <inertial>
      <origin xyz="0.00658986616416549 5.13855642059191E-06 0.0194393600039178" rpy="0 0 0" />
      <mass value="0.00376951085886838" />
      <inertia ixx="3.22347106085043E-07" ixy="1.3801788663582E-11" ixz="1.14352857317951E-07" iyy="3.65328133721509E-07" iyz="-2.11505011705634E-10" izz="1.24287996386442E-07" />
    </inertial>
  </link>
  <link name="left_middle_proximal">
    <inertial>
      <origin xyz="-0.00208660654138235 2.56918180119303E-06 0.0172735011723351" rpy="0 0 0" />
      <mass value="0.00253177375206983" />
      <inertia ixx="2.65989021304483E-07" ixy="-1.69816046635662E-11" ixz="-4.31046683215273E-08" iyy="2.72914402745606E-07" iyz="1.87484652324395E-10" izz="8.5602213431865E-08" />
    </inertial>
  </link>
  <link name="left_middle_distal">
    <inertial>
      <origin xyz="0.00658986516319194 5.10862924271716E-06 0.0194393315699782" rpy="0 0 0" />
      <mass value="0.00376952789210256" />
      <inertia ixx="3.22348591068053E-07" ixy="1.37122394856588E-11" ixz="1.1435291391668E-07" iyy="3.65329535087755E-07" iyz="-2.10453810291991E-10" izz="1.24288425862546E-07" />
    </inertial>
  </link>
  <link name="left_ring_proximal">
    <inertial>
      <origin xyz="-0.00208667931345812 2.63000419462034E-06 0.0172734926448377" rpy="0 0 0" />
      <mass value="0.00253182223645066" />
      <inertia ixx="2.65989756076584E-07" ixy="-1.74912952703656E-11" ixz="-4.31043325594253E-08" iyy="2.7291510093393E-07" iyz="1.87158326740895E-10" izz="8.56031522765909E-08" />
    </inertial>
  </link>
  <link name="left_ring_distal">
    <inertial>
      <origin xyz="0.00658986648895491 5.05883528165163E-06 0.019439397215532" rpy="0 0 0" />
      <mass value="0.00376949588316609" />
      <inertia ixx="3.2234524157181E-07" ixy="1.35766976056011E-11" ixz="1.14353011012842E-07" iyy="3.65326570102147E-07" iyz="-2.08672149138738E-10" izz="1.24287770218135E-07" />
    </inertial>
  </link>
  <link name="left_pinky_proximal">
    <inertial>
      <origin xyz="-0.00208673599799501 2.68062251165824E-06 0.0172734848131236" rpy="0 0 0" />
      <mass value="0.00253185993162408" />
      <inertia ixx="2.6599033687183E-07" ixy="-1.79030790016555E-11" ixz="-4.31040829565781E-08" iyy="2.72915617381577E-07" iyz="1.86906787420486E-10" izz="8.56039175034871E-08" />
    </inertial>
  </link>
  <link name="left_pinky_distal">
    <inertial>
      <origin xyz="0.00658987588903027 5.03087534178825E-06 0.0194394491065091" rpy="0 0 0" />
      <mass value="0.00376948071276134" />
      <inertia ixx="3.22343583730488E-07" ixy="1.35768173270357E-11" ixz="1.14353289593012E-07" iyy="3.65325180884183E-07" iyz="-2.0744198062439E-10" izz="1.24287567374229E-07" />
    </inertial>
  </link>
  <joint name="left_thumb_cmc_yaw" type="revolute">
    <origin xyz="0.011508 -0.022975 0.032794" rpy="0 0 0" />
    <parent link="left_hand_base_link" />
    <child link="left_thumb_metacarpals_base2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="1.3" effort="100" velocity="1" />
  </joint>
  <joint name="left_thumb_cmc_pitch" type="revolute">
    <origin xyz="0.0061649 -0.010678 -0.004891" rpy="0 -1.1529 2.0944" />
    <parent link="left_thumb_metacarpals_base2" />
    <child link="left_thumb_metacarpals" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0.58" effort="100" velocity="1" />
  </joint>
  <joint name="left_thumb_ip" type="revolute">
    <origin xyz="0.0037776 0 0.045368" rpy="0 0 0" />
    <parent link="left_thumb_metacarpals" />
    <child link="left_thumb_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.08" effort="100" velocity="1" />
    <mimic joint="left_thumb_cmc_pitch" multiplier="2.29" offset="0" />
  </joint>
  <joint name="left_index_mcp_pitch" type="revolute">
    <origin xyz="0.0024758 -0.02419 0.098779" rpy="0.05236 0 0" />
    <parent link="left_hand_base_link" />
    <child link="left_index_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="left_index_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="left_index_proximal" />
    <child link="left_index_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="left_index_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <joint name="left_middle_mcp_pitch" type="revolute">
    <origin xyz="0.00052576 -0.00634 0.1027" rpy="0 0 0" />
    <parent link="left_hand_base_link" />
    <child link="left_middle_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="left_middle_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="left_middle_proximal" />
    <child link="left_middle_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="left_middle_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <joint name="left_ring_mcp_pitch" type="revolute">
    <origin xyz="0.0010258 0.011135 0.098767" rpy="-0.05236 0 0" />
    <parent link="left_hand_base_link" />
    <child link="left_ring_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="left_ring_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="left_ring_proximal" />
    <child link="left_ring_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="left_ring_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <joint name="left_pinky_mcp_pitch" type="revolute">
    <origin xyz="0.0024758 0.028372 0.092741" rpy="-0.087266 0 0" />
    <parent link="left_hand_base_link" />
    <child link="left_pinky_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="left_pinky_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="left_pinky_proximal" />
    <child link="left_pinky_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="left_pinky_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <joint name="right_hand_base_joint" type="fixed">
    <parent link="right_base" />
    <child link="right_hand_base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="right_hand_base_link">
    <inertial>
      <origin xyz="-0.00160320773490556 0.000358462699237561 0.0538002704027215" rpy="0 0 0" />
      <mass value="0.06740077960995" />
      <inertia ixx="5.22359941041901E-05" ixy="3.0391535852764E-07" ixz="3.88322215371643E-07" iyy="3.33473043513648E-05" iyz="-7.77555280794861E-07" izz="2.28342677422006E-05" />
    </inertial>
  </link>
  <link name="right_thumb_metacarpals_base2">
    <inertial>
      <origin xyz="0.00162795738393507 0.00276671978336815 -0.00184227725602707" rpy="0 0 0" />
      <mass value="0.00138591070212997" />
      <inertia ixx="5.26294625624223E-08" ixy="-3.9288013799604E-09" ixz="2.43766268199571E-09" iyy="4.82623724532942E-08" iyz="3.71867754115443E-09" izz="2.88555522060562E-08" />
    </inertial>
  </link>
  <link name="right_thumb_metacarpals">
    <inertial>
      <origin xyz="4.24920612856275E-05 -1.67885666835232E-05 0.0228341522590467" rpy="0 0 0" />
      <mass value="0.0123381607727595" />
      <inertia ixx="1.10292488693766E-06" ixy="-6.14241939151719E-10" ixz="1.14233108676795E-07" iyy="1.76757658485787E-06" iyz="-4.24576599367025E-10" izz="9.36348143657406E-07" />
    </inertial>
  </link>
  <link name="right_thumb_distal">
    <inertial>
      <origin xyz="-0.00413690727496815 -4.54842793429222E-07 0.0230097179163771" rpy="0 0 0" />
      <mass value="0.00763302603723749" />
      <inertia ixx="1.30546842791578E-06" ixy="-2.61617511029467E-12" ixz="7.19030685242407E-08" iyy="1.22457212713176E-06" iyz="1.66931068485225E-11" izz="2.7729897944409E-07" />
    </inertial>
  </link>
  <link name="right_index_proximal">
    <inertial>
      <origin xyz="-0.00208665596033792 -4.8964990644329E-06 0.0172736718900068" rpy="0 0 0" />
      <mass value="0.00253178529301663" />
      <inertia ixx="2.65990159539482E-07" ixy="-3.55165625722842E-11" ixz="4.31046335852167E-08" iyy="2.72915460277804E-07" iyz="1.75935978708959E-10" izz="8.56026306687528E-08" />
    </inertial>
  </link>
  <link name="right_index_distal">
    <inertial>
      <origin xyz="0.00658940011630532 -4.59976557022623E-06 0.0194434136420913" rpy="0 0 0" />
      <mass value="0.00376787129082313" />
      <inertia ixx="3.22116619426455E-07" ixy="1.03152735699049E-11" ixz="-1.14363506430985E-07" iyy="3.65131844686317E-07" iyz="-1.97263639269362E-10" izz="1.24256890612907E-07" />
    </inertial>
  </link>
  <link name="right_middle_proximal">
    <inertial>
      <origin xyz="-0.00208661081773556 -4.93451838476378E-06 0.0172736805321904" rpy="0 0 0" />
      <mass value="0.00253175497594429" />
      <inertia ixx="2.65989683690695E-07" ixy="-3.58343951791586E-11" ixz="4.31048601085216E-08" iyy="2.72915006047006E-07" iyz="1.75718024412593E-10" izz="8.56020467202518E-08" />
    </inertial>
  </link>
  <link name="right_middle_distal">
    <inertial>
      <origin xyz="0.00658940304809306 -4.5885743593238E-06 0.0194434523296449" rpy="0 0 0" />
      <mass value="0.00376786259758948" />
      <inertia ixx="3.221153658306E-07" ixy="1.02639617308432E-11" ixz="-1.14363547272711E-07" iyy="3.65130723083104E-07" iyz="-1.96904618797577E-10" izz="1.24256787913797E-07" />
    </inertial>
  </link>
  <link name="right_ring_proximal">
    <inertial>
      <origin xyz="-0.00208654311325356 -4.98538564003281E-06 0.0172736743497407" rpy="0 0 0" />
      <mass value="0.00253170963529411" />
      <inertia ixx="2.6598913795678E-07" ixy="-3.62757108675266E-11" ixz="4.31050611555507E-08" iyy="2.72914417061517E-07" iyz="1.75554984053478E-10" izz="8.56012458677515E-08" />
    </inertial>
  </link>
  <link name="right_ring_distal">
    <inertial>
      <origin xyz="0.00658940273069729 -4.56628863591824E-06 0.0194435005686854" rpy="0 0 0" />
      <mass value="0.0037678395356105" />
      <inertia ixx="3.22112632437858E-07" ixy="1.01848408913558E-11" ixz="-1.1436348915342E-07" iyy="3.65128262095686E-07" iyz="-1.96145632992445E-10" izz="1.24256284608064E-07" />
    </inertial>
  </link>
  <link name="right_pinky_proximal">
    <inertial>
      <origin xyz="-0.00208649034130813 -5.02314582560837E-06 0.0172736680793697" rpy="0 0 0" />
      <mass value="0.00253167400540778" />
      <inertia ixx="2.65988718820404E-07" ixy="-3.66012295280295E-11" ixz="4.31052220484445E-08" iyy="2.72913936904813E-07" iyz="1.75447396222308E-10" izz="8.56006424720129E-08" />
    </inertial>
  </link>
  <link name="right_pinky_distal">
    <inertial>
      <origin xyz="0.00658940431519205 -4.55268314210333E-06 0.0194435341098305" rpy="0 0 0" />
      <mass value="0.00376782669873412" />
      <inertia ixx="3.22111112339498E-07" ixy="1.01707985908333E-11" ixz="-1.14363524419061E-07" iyy="3.65126916899176E-07" iyz="-1.95589215866356E-10" izz="1.24256004854426E-07" />
    </inertial>
  </link>
  <joint name="right_thumb_cmc_yaw" type="revolute">
    <origin xyz="0.011508 0.022975 0.032794" rpy="0 0 0" />
    <parent link="right_hand_base_link" />
    <child link="right_thumb_metacarpals_base2" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.36" effort="100" velocity="1" />
  </joint>
  <joint name="right_thumb_cmc_pitch" type="revolute">
    <origin xyz="0.0061649 0.010678 -0.004891" rpy="0 -1.1529 -2.0944" />
    <parent link="right_thumb_metacarpals_base2" />
    <child link="right_thumb_metacarpals" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0.58" effort="100" velocity="1" />
  </joint>
  <joint name="right_thumb_ip" type="revolute">
    <origin xyz="0.0037776 0 0.045368" rpy="0 0 0" />
    <parent link="right_thumb_metacarpals" />
    <child link="right_thumb_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.08" effort="100" velocity="1" />
    <mimic joint="right_thumb_cmc_pitch" multiplier="1.86" offset="0" />
  </joint>
  <joint name="right_index_mcp_pitch" type="revolute">
    <origin xyz="0.0024758 0.02419 0.098779" rpy="-0.05236 0 0" />
    <parent link="right_hand_base_link" />
    <child link="right_index_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="right_index_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="right_index_proximal" />
    <child link="right_index_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="right_index_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <joint name="right_middle_mcp_pitch" type="revolute">
    <origin xyz="0.00052576 0.00634 0.1027" rpy="0 0 0" />
    <parent link="right_hand_base_link" />
    <child link="right_middle_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="right_middle_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="right_middle_proximal" />
    <child link="right_middle_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="right_middle_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <joint name="right_ring_mcp_pitch" type="revolute">
    <origin xyz="0.0010258 -0.011135 0.098767" rpy="0.05236 0 0" />
    <parent link="right_hand_base_link" />
    <child link="right_ring_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="right_ring_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="right_ring_proximal" />
    <child link="right_ring_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="right_ring_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <joint name="right_pinky_mcp_pitch" type="revolute">
    <origin xyz="0.0024758 -0.028372 0.092741" rpy="0.087266 0 0" />
    <parent link="right_hand_base_link" />
    <child link="right_pinky_proximal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.60" effort="100" velocity="1" />
  </joint>
  <joint name="right_pinky_dip" type="revolute">
    <origin xyz="-0.0052516 0 0.036625" rpy="0 0 0" />
    <parent link="right_pinky_proximal" />
    <child link="right_pinky_distal" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.43" effort="100" velocity="1" />
    <mimic joint="right_pinky_mcp_pitch" multiplier="0.89" offset="0" />
  </joint>
  <link name="right_thumb_tip" />
  <joint name="right_thumb_tip_joint" type="fixed">
    <origin xyz="-0.00706 0.00000 0.04850" rpy="0 0 0" />
    <parent link="right_thumb_distal" />
    <child link="right_thumb_tip" />
  </joint>
  <link name="right_index_tip" />
  <joint name="right_index_tip_joint" type="fixed">
    <origin xyz="0.01542 -0.00001 0.03735" rpy="0 0 0" />
    <parent link="right_index_distal" />
    <child link="right_index_tip" />
  </joint>
  <link name="right_middle_tip" />
  <joint name="right_middle_tip_joint" type="fixed">
    <origin xyz="0.01542 -0.00001 0.03735" rpy="0 0 0" />
    <parent link="right_middle_distal" />
    <child link="right_middle_tip" />
  </joint>
  <link name="right_ring_tip" />
  <joint name="right_ring_tip_joint" type="fixed">
    <origin xyz="0.01542 -0.00001 0.03735" rpy="0 0 0" />
    <parent link="right_ring_distal" />
    <child link="right_ring_tip" />
  </joint>
  <link name="right_pinky_tip" />
  <joint name="right_pinky_tip_joint" type="fixed">
    <origin xyz="0.01542 -0.00001 0.03735" rpy="0 0 0" />
    <parent link="right_pinky_distal" />
    <child link="right_pinky_tip" />
  </joint>
  <link name="left_thumb_tip" />
  <joint name="left_thumb_tip_joint" type="fixed">
    <origin xyz="-0.00706 0.00000 0.04850" rpy="0 0 0" />
    <parent link="left_thumb_distal" />
    <child link="left_thumb_tip" />
  </joint>
  <link name="left_index_tip" />
  <joint name="left_index_tip_joint" type="fixed">
    <origin xyz="0.01542 -0.00001 0.03735" rpy="0 0 0" />
    <parent link="left_index_distal" />
    <child link="left_index_tip" />
  </joint>
  <link name="left_middle_tip" />
  <joint name="left_middle_tip_joint" type="fixed">
    <origin xyz="0.01542 -0.00001 0.03735" rpy="0 0 0" />
    <parent link="left_middle_distal" />
    <child link="left_middle_tip" />
  </joint>
  <link name="left_ring_tip" />
  <joint name="left_ring_tip_joint" type="fixed">
    <origin xyz="0.01542 -0.00001 0.03735" rpy="0 0 0" />
    <parent link="left_ring_distal" />
    <child link="left_ring_tip" />
  </joint>
  <link name="left_pinky_tip" />
  <joint name="left_pinky_tip_joint" type="fixed">
    <origin xyz="0.01542 -0.00001 0.03735" rpy="0 0 0" />
    <parent link="left_pinky_distal" />
    <child link="left_pinky_tip" />
  </joint>
</robot>